* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {

}

header {

}

.masthead {

}

.masthead a {

}

.main-title {

}

.subtitle {

}

nav {

}

header nav {

}

nav a {

}

.mid-body {

}

aside {

}

main {

}

h1 {

}

p {

}

section {

}

footer {

}

footer nav {

}

