<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Acknowledgments</title>
</head>

<body>
	<header>
		<div class="masthead">
			<span class="main-title"><a href="index.html">Zine Title</a></span>
			<span class="subtitle">Subtitle</span>
		</div>
		<nav>
			<a href="index.html">Home</a>
			<a href="contributors.html">Contributors</a>
			<a href="works.html">Works</a>
			<a href="zine.html">Read as Zine</a>
		</nav>
	</header>
	
	<div class="mid-body">
		<aside></aside>
		<main>
			<header>
				<h1></h1>
				<p></p>
			</header>
			<section></section>
		</main>
		<aside></aside>
	</div>

	<footer>
		<nav>
			<a href=#>Copyright</a>
			<a href=#>Source Code</a>
			<a href="acknowledgments.html">Acknowledgments</a>
		</nav>
	</footer>

<script src="app.js"></script>
</body>
</html>