<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/zine.css">
	<title>Zine Title</title>
</head>

<body>
	<!--<header>
		<div class="masthead">
			<span class="main-title"><a href="index.html">Zine Title</a></span>
			<span class="subtitle">Subtitle</span>
		</div>
		<nav>
			<a href="index.html">Home</a>
			<a href="contributors.html">Contributors</a>
			<a href="works.html">Works</a>
			<a href="zine.html">Read as Zine</a>
		</nav>
	</header>-->
	
	<div class="mid-body">
		<aside class="sidebar">
			<nav class="content-nav">
				<a href="#frontmatter"><li class="content-item">Frontmatter</li></a>
				<li class="dropdown"><details>
					<summary>First Category</summary>
					<a href="#work1"><li class="content-item">Work 1</li></a>
					<a href="#work2"><li class="content-item">Work 2</li></a>
				</details></li>
				<li class="dropdown"><details>
					<summary>Second Category</summary>
					<a href="#work3"><li class="content-item">Work 3</li></a>
					<a href="#work4"><li class="content-item">Work 4</li></a>
				</details></li>
				<a href="#work5"><li class="content-item">Work 5</li></a>	
				<a href="#backmatter"><li class="content-item">Backmatter</li></a>
			</nav>
		</aside>
		<main>
			<h1 id="zine-top">Zine Header</h1>
			<section id="frontmatter">
				<h2>Frontmatter and Intro</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex sapien, tincidunt eget pretium eget, bibendum ut lorem. Aliquam sit amet condimentum neque, quis ornare metus. Ut in faucibus magna. Ut interdum, metus id lobortis vestibulum, nunc diam ultricies tortor, vel hendrerit ipsum dui non felis. Integer ut rhoncus diam, vel molestie purus. Cras tincidunt gravida tincidunt. Cras dictum feugiat ligula id viverra. Aliquam nec tristique ipsum. Duis pretium dignissim lacus, et bibendum risus faucibus in. Nulla facilisi. Donec eu pharetra urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Suspendisse in sollicitudin ligula. Nunc nec dui eu ipsum hendrerit commodo non a tortor. Integer mattis suscipit urna, et consectetur massa porta a. Proin sit amet vulputate ligula. Vestibulum sed tortor dolor. Cras ex lorem, suscipit nec ullamcorper sed, feugiat id augue. Nam viverra sit amet dolor eu tincidunt. Quisque eleifend magna at mauris tincidunt semper. Duis suscipit magna enim. Vivamus a dictum urna. Integer nisi metus, laoreet vitae odio et, vehicula lacinia purus. In sed porta mauris, vel congue diam. Duis vitae dolor lectus.
				</p>
			</section>
			<article id="work1">
				<h2>Work 1</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex sapien, tincidunt eget pretium eget, bibendum ut lorem. Aliquam sit amet condimentum neque, quis ornare metus. Ut in faucibus magna. Ut interdum, metus id lobortis vestibulum, nunc diam ultricies tortor, vel hendrerit ipsum dui non felis. Integer ut rhoncus diam, vel molestie purus. Cras tincidunt gravida tincidunt. Cras dictum feugiat ligula id viverra. Aliquam nec tristique ipsum. Duis pretium dignissim lacus, et bibendum risus faucibus in. Nulla facilisi. Donec eu pharetra urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Suspendisse in sollicitudin ligula. Nunc nec dui eu ipsum hendrerit commodo non a tortor. Integer mattis suscipit urna, et consectetur massa porta a. Proin sit amet vulputate ligula. Vestibulum sed tortor dolor. Cras ex lorem, suscipit nec ullamcorper sed, feugiat id augue. Nam viverra sit amet dolor eu tincidunt. Quisque eleifend magna at mauris tincidunt semper. Duis suscipit magna enim. Vivamus a dictum urna. Integer nisi metus, laoreet vitae odio et, vehicula lacinia purus. In sed porta mauris, vel congue diam. Duis vitae dolor lectus.
					
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non sapien ex. Sed sem tortor, maximus at metus non, auctor tincidunt sapien. Duis tempor aliquam arcu a laoreet. Aenean ex urna, hendrerit et nisi nec, efficitur euismod mauris. Vestibulum fringilla ante sit amet lacus consequat auctor vitae et odio. Praesent urna enim, tristique sed egestas a, dictum non felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc in lacus id nisl aliquam efficitur vitae eget nunc. Integer egestas pharetra sapien, id vestibulum ipsum rutrum et. Proin augue velit, vulputate congue tincidunt ut, hendrerit a ligula. Etiam ut turpis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu bibendum nisl. Maecenas at nibh iaculis tellus vestibulum commodo. Phasellus condimentum in quam non ultrices.
					
					Proin porttitor hendrerit justo vel elementum. Donec justo erat, venenatis a nisi sed, venenatis efficitur dolor. Pellentesque vel enim turpis. Nullam mollis lacus at consequat vehicula. Nullam massa nulla, placerat et sapien eget, auctor consectetur est. Aenean ut dui vitae ligula iaculis faucibus vitae semper erat. Nunc sit amet purus vel turpis rutrum luctus in sit amet magna. Nulla facilisi. Integer congue lorem ac tellus sagittis, nec vestibulum libero molestie.
					
					Sed dignissim tortor in libero sodales rutrum. Proin id diam placerat, suscipit justo id, accumsan arcu. Suspendisse potenti. Sed lacus sapien, efficitur sit amet massa vel, tristique blandit neque. Vestibulum nec augue vel mi accumsan aliquet ut non dui. Nam vulputate tristique aliquet. Proin dignissim molestie risus. In ut ullamcorper lorem. Fusce tincidunt posuere luctus. In semper tempus lorem. Proin tincidunt aliquam est eu luctus. Cras vel mattis lectus. In hac habitasse platea dictumst. Praesent mi libero, convallis ut turpis eget, fringilla ultrices sem. Praesent id turpis a massa facilisis placerat vitae vitae massa. Sed tristique velit sed odio facilisis, non pulvinar ligula pellentesque.
					
					Curabitur sit amet dolor ligula. Nulla eros quam, hendrerit vitae efficitur sit amet, euismod sit amet arcu. Praesent placerat suscipit massa, in imperdiet nibh faucibus ac. Cras vestibulum sollicitudin magna. Cras ut ante mollis, ornare quam eu, malesuada odio. Quisque consectetur elit ex, eget tincidunt dolor suscipit in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.
					
					Aenean laoreet in mauris in tempus. Praesent nec dictum felis. In diam est, elementum vitae mattis in, condimentum ac odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vel arcu in arcu interdum mattis nec ut risus. Maecenas eget massa eu magna hendrerit auctor. Suspendisse pharetra nunc sed aliquam egestas. Aliquam gravida libero sed eros faucibus, non malesuada enim facilisis. Fusce et vestibulum justo. Cras sit amet arcu ante. Etiam mollis nunc turpis. Quisque elit nibh, elementum in justo sit amet, posuere scelerisque tortor.
					
					Donec nec pharetra mauris, id auctor augue. Vestibulum tempus libero elit. Nam ac nisi fringilla, suscipit urna nec, congue mauris. Nam ultricies finibus sem eget efficitur. Ut ac eros in libero pellentesque pulvinar. Nunc vitae tempor lorem, eu luctus leo. Mauris quis pulvinar orci, eget eleifend augue. Nam dignissim felis in libero semper dignissim. Suspendisse rhoncus aliquet tellus, ac iaculis ex sollicitudin sed. Nullam pellentesque mi vel lorem laoreet suscipit. Sed scelerisque fringilla egestas. Duis luctus et leo quis pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut rhoncus ipsum non arcu tincidunt accumsan. Quisque auctor commodo pellentesque. Suspendisse non tristique turpis.
					
					Vivamus id leo sit amet justo eleifend auctor. Vestibulum non eros non metus iaculis tristique at nec eros. Quisque congue fermentum vulputate. Praesent volutpat diam est, sed rutrum libero malesuada sit amet. Ut fringilla ex non interdum suscipit. Integer in nibh eu lectus sodales pharetra. Integer sed laoreet neque. Maecenas pellentesque pellentesque volutpat.
					
					Ut nulla magna, tincidunt non purus sed, cursus facilisis eros. Vivamus urna nunc, vulputate vitae nibh interdum, iaculis pulvinar ligula. Sed dapibus consectetur mi. Duis ac luctus libero. Fusce viverra porta urna at malesuada. Fusce vitae aliquet est, non cursus enim. Vivamus felis diam, dapibus in orci sit amet, semper scelerisque dolor. Donec at finibus sapien.
				</p>
			</article>
			<article id="work2">
				<h2>Work 2</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex sapien, tincidunt eget pretium eget, bibendum ut lorem. Aliquam sit amet condimentum neque, quis ornare metus. Ut in faucibus magna. Ut interdum, metus id lobortis vestibulum, nunc diam ultricies tortor, vel hendrerit ipsum dui non felis. Integer ut rhoncus diam, vel molestie purus. Cras tincidunt gravida tincidunt. Cras dictum feugiat ligula id viverra. Aliquam nec tristique ipsum. Duis pretium dignissim lacus, et bibendum risus faucibus in. Nulla facilisi. Donec eu pharetra urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Suspendisse in sollicitudin ligula. Nunc nec dui eu ipsum hendrerit commodo non a tortor. Integer mattis suscipit urna, et consectetur massa porta a. Proin sit amet vulputate ligula. Vestibulum sed tortor dolor. Cras ex lorem, suscipit nec ullamcorper sed, feugiat id augue. Nam viverra sit amet dolor eu tincidunt. Quisque eleifend magna at mauris tincidunt semper. Duis suscipit magna enim. Vivamus a dictum urna. Integer nisi metus, laoreet vitae odio et, vehicula lacinia purus. In sed porta mauris, vel congue diam. Duis vitae dolor lectus.
					
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non sapien ex. Sed sem tortor, maximus at metus non, auctor tincidunt sapien. Duis tempor aliquam arcu a laoreet. Aenean ex urna, hendrerit et nisi nec, efficitur euismod mauris. Vestibulum fringilla ante sit amet lacus consequat auctor vitae et odio. Praesent urna enim, tristique sed egestas a, dictum non felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc in lacus id nisl aliquam efficitur vitae eget nunc. Integer egestas pharetra sapien, id vestibulum ipsum rutrum et. Proin augue velit, vulputate congue tincidunt ut, hendrerit a ligula. Etiam ut turpis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu bibendum nisl. Maecenas at nibh iaculis tellus vestibulum commodo. Phasellus condimentum in quam non ultrices.
					
					Proin porttitor hendrerit justo vel elementum. Donec justo erat, venenatis a nisi sed, venenatis efficitur dolor. Pellentesque vel enim turpis. Nullam mollis lacus at consequat vehicula. Nullam massa nulla, placerat et sapien eget, auctor consectetur est. Aenean ut dui vitae ligula iaculis faucibus vitae semper erat. Nunc sit amet purus vel turpis rutrum luctus in sit amet magna. Nulla facilisi. Integer congue lorem ac tellus sagittis, nec vestibulum libero molestie.
					
					Sed dignissim tortor in libero sodales rutrum. Proin id diam placerat, suscipit justo id, accumsan arcu. Suspendisse potenti. Sed lacus sapien, efficitur sit amet massa vel, tristique blandit neque. Vestibulum nec augue vel mi accumsan aliquet ut non dui. Nam vulputate tristique aliquet. Proin dignissim molestie risus. In ut ullamcorper lorem. Fusce tincidunt posuere luctus. In semper tempus lorem. Proin tincidunt aliquam est eu luctus. Cras vel mattis lectus. In hac habitasse platea dictumst. Praesent mi libero, convallis ut turpis eget, fringilla ultrices sem. Praesent id turpis a massa facilisis placerat vitae vitae massa. Sed tristique velit sed odio facilisis, non pulvinar ligula pellentesque.
					
					Curabitur sit amet dolor ligula. Nulla eros quam, hendrerit vitae efficitur sit amet, euismod sit amet arcu. Praesent placerat suscipit massa, in imperdiet nibh faucibus ac. Cras vestibulum sollicitudin magna. Cras ut ante mollis, ornare quam eu, malesuada odio. Quisque consectetur elit ex, eget tincidunt dolor suscipit in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.
					
					Aenean laoreet in mauris in tempus. Praesent nec dictum felis. In diam est, elementum vitae mattis in, condimentum ac odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vel arcu in arcu interdum mattis nec ut risus. Maecenas eget massa eu magna hendrerit auctor. Suspendisse pharetra nunc sed aliquam egestas. Aliquam gravida libero sed eros faucibus, non malesuada enim facilisis. Fusce et vestibulum justo. Cras sit amet arcu ante. Etiam mollis nunc turpis. Quisque elit nibh, elementum in justo sit amet, posuere scelerisque tortor.
					
					Donec nec pharetra mauris, id auctor augue. Vestibulum tempus libero elit. Nam ac nisi fringilla, suscipit urna nec, congue mauris. Nam ultricies finibus sem eget efficitur. Ut ac eros in libero pellentesque pulvinar. Nunc vitae tempor lorem, eu luctus leo. Mauris quis pulvinar orci, eget eleifend augue. Nam dignissim felis in libero semper dignissim. Suspendisse rhoncus aliquet tellus, ac iaculis ex sollicitudin sed. Nullam pellentesque mi vel lorem laoreet suscipit. Sed scelerisque fringilla egestas. Duis luctus et leo quis pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut rhoncus ipsum non arcu tincidunt accumsan. Quisque auctor commodo pellentesque. Suspendisse non tristique turpis.
					
					Vivamus id leo sit amet justo eleifend auctor. Vestibulum non eros non metus iaculis tristique at nec eros. Quisque congue fermentum vulputate. Praesent volutpat diam est, sed rutrum libero malesuada sit amet. Ut fringilla ex non interdum suscipit. Integer in nibh eu lectus sodales pharetra. Integer sed laoreet neque. Maecenas pellentesque pellentesque volutpat.
					
					Ut nulla magna, tincidunt non purus sed, cursus facilisis eros. Vivamus urna nunc, vulputate vitae nibh interdum, iaculis pulvinar ligula. Sed dapibus consectetur mi. Duis ac luctus libero. Fusce viverra porta urna at malesuada. Fusce vitae aliquet est, non cursus enim. Vivamus felis diam, dapibus in orci sit amet, semper scelerisque dolor. Donec at finibus sapien.
				</p>
			</article>
			<article id="work3">
				<h2>Work 3</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex sapien, tincidunt eget pretium eget, bibendum ut lorem. Aliquam sit amet condimentum neque, quis ornare metus. Ut in faucibus magna. Ut interdum, metus id lobortis vestibulum, nunc diam ultricies tortor, vel hendrerit ipsum dui non felis. Integer ut rhoncus diam, vel molestie purus. Cras tincidunt gravida tincidunt. Cras dictum feugiat ligula id viverra. Aliquam nec tristique ipsum. Duis pretium dignissim lacus, et bibendum risus faucibus in. Nulla facilisi. Donec eu pharetra urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Suspendisse in sollicitudin ligula. Nunc nec dui eu ipsum hendrerit commodo non a tortor. Integer mattis suscipit urna, et consectetur massa porta a. Proin sit amet vulputate ligula. Vestibulum sed tortor dolor. Cras ex lorem, suscipit nec ullamcorper sed, feugiat id augue. Nam viverra sit amet dolor eu tincidunt. Quisque eleifend magna at mauris tincidunt semper. Duis suscipit magna enim. Vivamus a dictum urna. Integer nisi metus, laoreet vitae odio et, vehicula lacinia purus. In sed porta mauris, vel congue diam. Duis vitae dolor lectus.
					
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non sapien ex. Sed sem tortor, maximus at metus non, auctor tincidunt sapien. Duis tempor aliquam arcu a laoreet. Aenean ex urna, hendrerit et nisi nec, efficitur euismod mauris. Vestibulum fringilla ante sit amet lacus consequat auctor vitae et odio. Praesent urna enim, tristique sed egestas a, dictum non felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc in lacus id nisl aliquam efficitur vitae eget nunc. Integer egestas pharetra sapien, id vestibulum ipsum rutrum et. Proin augue velit, vulputate congue tincidunt ut, hendrerit a ligula. Etiam ut turpis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu bibendum nisl. Maecenas at nibh iaculis tellus vestibulum commodo. Phasellus condimentum in quam non ultrices.
					
					Proin porttitor hendrerit justo vel elementum. Donec justo erat, venenatis a nisi sed, venenatis efficitur dolor. Pellentesque vel enim turpis. Nullam mollis lacus at consequat vehicula. Nullam massa nulla, placerat et sapien eget, auctor consectetur est. Aenean ut dui vitae ligula iaculis faucibus vitae semper erat. Nunc sit amet purus vel turpis rutrum luctus in sit amet magna. Nulla facilisi. Integer congue lorem ac tellus sagittis, nec vestibulum libero molestie.
					
					Sed dignissim tortor in libero sodales rutrum. Proin id diam placerat, suscipit justo id, accumsan arcu. Suspendisse potenti. Sed lacus sapien, efficitur sit amet massa vel, tristique blandit neque. Vestibulum nec augue vel mi accumsan aliquet ut non dui. Nam vulputate tristique aliquet. Proin dignissim molestie risus. In ut ullamcorper lorem. Fusce tincidunt posuere luctus. In semper tempus lorem. Proin tincidunt aliquam est eu luctus. Cras vel mattis lectus. In hac habitasse platea dictumst. Praesent mi libero, convallis ut turpis eget, fringilla ultrices sem. Praesent id turpis a massa facilisis placerat vitae vitae massa. Sed tristique velit sed odio facilisis, non pulvinar ligula pellentesque.
					
					Curabitur sit amet dolor ligula. Nulla eros quam, hendrerit vitae efficitur sit amet, euismod sit amet arcu. Praesent placerat suscipit massa, in imperdiet nibh faucibus ac. Cras vestibulum sollicitudin magna. Cras ut ante mollis, ornare quam eu, malesuada odio. Quisque consectetur elit ex, eget tincidunt dolor suscipit in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.
					
					Aenean laoreet in mauris in tempus. Praesent nec dictum felis. In diam est, elementum vitae mattis in, condimentum ac odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vel arcu in arcu interdum mattis nec ut risus. Maecenas eget massa eu magna hendrerit auctor. Suspendisse pharetra nunc sed aliquam egestas. Aliquam gravida libero sed eros faucibus, non malesuada enim facilisis. Fusce et vestibulum justo. Cras sit amet arcu ante. Etiam mollis nunc turpis. Quisque elit nibh, elementum in justo sit amet, posuere scelerisque tortor.
					
					Donec nec pharetra mauris, id auctor augue. Vestibulum tempus libero elit. Nam ac nisi fringilla, suscipit urna nec, congue mauris. Nam ultricies finibus sem eget efficitur. Ut ac eros in libero pellentesque pulvinar. Nunc vitae tempor lorem, eu luctus leo. Mauris quis pulvinar orci, eget eleifend augue. Nam dignissim felis in libero semper dignissim. Suspendisse rhoncus aliquet tellus, ac iaculis ex sollicitudin sed. Nullam pellentesque mi vel lorem laoreet suscipit. Sed scelerisque fringilla egestas. Duis luctus et leo quis pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut rhoncus ipsum non arcu tincidunt accumsan. Quisque auctor commodo pellentesque. Suspendisse non tristique turpis.
					
					Vivamus id leo sit amet justo eleifend auctor. Vestibulum non eros non metus iaculis tristique at nec eros. Quisque congue fermentum vulputate. Praesent volutpat diam est, sed rutrum libero malesuada sit amet. Ut fringilla ex non interdum suscipit. Integer in nibh eu lectus sodales pharetra. Integer sed laoreet neque. Maecenas pellentesque pellentesque volutpat.
					
					Ut nulla magna, tincidunt non purus sed, cursus facilisis eros. Vivamus urna nunc, vulputate vitae nibh interdum, iaculis pulvinar ligula. Sed dapibus consectetur mi. Duis ac luctus libero. Fusce viverra porta urna at malesuada. Fusce vitae aliquet est, non cursus enim. Vivamus felis diam, dapibus in orci sit amet, semper scelerisque dolor. Donec at finibus sapien.
				</p>
			</article>
			<article id="work4">
				<h2>Work 4</h2>
			</article>
			<article id="work5">
				<h2>Work 5</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex sapien, tincidunt eget pretium eget, bibendum ut lorem. Aliquam sit amet condimentum neque, quis ornare metus. Ut in faucibus magna. Ut interdum, metus id lobortis vestibulum, nunc diam ultricies tortor, vel hendrerit ipsum dui non felis. Integer ut rhoncus diam, vel molestie purus. Cras tincidunt gravida tincidunt. Cras dictum feugiat ligula id viverra. Aliquam nec tristique ipsum. Duis pretium dignissim lacus, et bibendum risus faucibus in. Nulla facilisi. Donec eu pharetra urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				
					Suspendisse in sollicitudin ligula. Nunc nec dui eu ipsum hendrerit commodo non a tortor. Integer mattis suscipit urna, et consectetur massa porta a. Proin sit amet vulputate ligula. Vestibulum sed tortor dolor. Cras ex lorem, suscipit nec ullamcorper sed, feugiat id augue. Nam viverra sit amet dolor eu tincidunt. Quisque eleifend magna at mauris tincidunt semper. Duis suscipit magna enim. Vivamus a dictum urna. Integer nisi metus, laoreet vitae odio et, vehicula lacinia purus. In sed porta mauris, vel congue diam. Duis vitae dolor lectus.

					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non sapien ex. Sed sem tortor, maximus at metus non, auctor tincidunt sapien. Duis tempor aliquam arcu a laoreet. Aenean ex urna, hendrerit et nisi nec, efficitur euismod mauris. Vestibulum fringilla ante sit amet lacus consequat auctor vitae et odio. Praesent urna enim, tristique sed egestas a, dictum non felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc in lacus id nisl aliquam efficitur vitae eget nunc. Integer egestas pharetra sapien, id vestibulum ipsum rutrum et. Proin augue velit, vulputate congue tincidunt ut, hendrerit a ligula. Etiam ut turpis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu bibendum nisl. Maecenas at nibh iaculis tellus vestibulum commodo. Phasellus condimentum in quam non ultrices.
					
					Proin porttitor hendrerit justo vel elementum. Donec justo erat, venenatis a nisi sed, venenatis efficitur dolor. Pellentesque vel enim turpis. Nullam mollis lacus at consequat vehicula. Nullam massa nulla, placerat et sapien eget, auctor consectetur est. Aenean ut dui vitae ligula iaculis faucibus vitae semper erat. Nunc sit amet purus vel turpis rutrum luctus in sit amet magna. Nulla facilisi. Integer congue lorem ac tellus sagittis, nec vestibulum libero molestie.
					
					Sed dignissim tortor in libero sodales rutrum. Proin id diam placerat, suscipit justo id, accumsan arcu. Suspendisse potenti. Sed lacus sapien, efficitur sit amet massa vel, tristique blandit neque. Vestibulum nec augue vel mi accumsan aliquet ut non dui. Nam vulputate tristique aliquet. Proin dignissim molestie risus. In ut ullamcorper lorem. Fusce tincidunt posuere luctus. In semper tempus lorem. Proin tincidunt aliquam est eu luctus. Cras vel mattis lectus. In hac habitasse platea dictumst. Praesent mi libero, convallis ut turpis eget, fringilla ultrices sem. Praesent id turpis a massa facilisis placerat vitae vitae massa. Sed tristique velit sed odio facilisis, non pulvinar ligula pellentesque.
					
					Curabitur sit amet dolor ligula. Nulla eros quam, hendrerit vitae efficitur sit amet, euismod sit amet arcu. Praesent placerat suscipit massa, in imperdiet nibh faucibus ac. Cras vestibulum sollicitudin magna. Cras ut ante mollis, ornare quam eu, malesuada odio. Quisque consectetur elit ex, eget tincidunt dolor suscipit in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.
					
					Aenean laoreet in mauris in tempus. Praesent nec dictum felis. In diam est, elementum vitae mattis in, condimentum ac odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vel arcu in arcu interdum mattis nec ut risus. Maecenas eget massa eu magna hendrerit auctor. Suspendisse pharetra nunc sed aliquam egestas. Aliquam gravida libero sed eros faucibus, non malesuada enim facilisis. Fusce et vestibulum justo. Cras sit amet arcu ante. Etiam mollis nunc turpis. Quisque elit nibh, elementum in justo sit amet, posuere scelerisque tortor.
					
					Donec nec pharetra mauris, id auctor augue. Vestibulum tempus libero elit. Nam ac nisi fringilla, suscipit urna nec, congue mauris. Nam ultricies finibus sem eget efficitur. Ut ac eros in libero pellentesque pulvinar. Nunc vitae tempor lorem, eu luctus leo. Mauris quis pulvinar orci, eget eleifend augue. Nam dignissim felis in libero semper dignissim. Suspendisse rhoncus aliquet tellus, ac iaculis ex sollicitudin sed. Nullam pellentesque mi vel lorem laoreet suscipit. Sed scelerisque fringilla egestas. Duis luctus et leo quis pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut rhoncus ipsum non arcu tincidunt accumsan. Quisque auctor commodo pellentesque. Suspendisse non tristique turpis.
					
					Vivamus id leo sit amet justo eleifend auctor. Vestibulum non eros non metus iaculis tristique at nec eros. Quisque congue fermentum vulputate. Praesent volutpat diam est, sed rutrum libero malesuada sit amet. Ut fringilla ex non interdum suscipit. Integer in nibh eu lectus sodales pharetra. Integer sed laoreet neque. Maecenas pellentesque pellentesque volutpat.
					
					Ut nulla magna, tincidunt non purus sed, cursus facilisis eros. Vivamus urna nunc, vulputate vitae nibh interdum, iaculis pulvinar ligula. Sed dapibus consectetur mi. Duis ac luctus libero. Fusce viverra porta urna at malesuada. Fusce vitae aliquet est, non cursus enim. Vivamus felis diam, dapibus in orci sit amet, semper scelerisque dolor. Donec at finibus sapien.
				</p>
			</article>
			<section id="backmatter">
				<h2>Backmatter</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex sapien, tincidunt eget pretium eget, bibendum ut lorem. Aliquam sit amet condimentum neque, quis ornare metus. Ut in faucibus magna. Ut interdum, metus id lobortis vestibulum, nunc diam ultricies tortor, vel hendrerit ipsum dui non felis. Integer ut rhoncus diam, vel molestie purus. Cras tincidunt gravida tincidunt. Cras dictum feugiat ligula id viverra. Aliquam nec tristique ipsum. Duis pretium dignissim lacus, et bibendum risus faucibus in. Nulla facilisi. Donec eu pharetra urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

					Suspendisse in sollicitudin ligula. Nunc nec dui eu ipsum hendrerit commodo non a tortor. Integer mattis suscipit urna, et consectetur massa porta a. Proin sit amet vulputate ligula. Vestibulum sed tortor dolor. Cras ex lorem, suscipit nec ullamcorper sed, feugiat id augue. Nam viverra sit amet dolor eu tincidunt. Quisque eleifend magna at mauris tincidunt semper. Duis suscipit magna enim. Vivamus a dictum urna. Integer nisi metus, laoreet vitae odio et, vehicula lacinia purus. In sed porta mauris, vel congue diam. Duis vitae dolor lectus.
				</p>
			</section>
		</main>
		<aside class="float-bar">
			<nav class="float-nav">
					<li><a href="#zine-top">To Top</a></li>
					<li><a href="index.html">To Main Site</a></li>
					<li><a href="downloads.html">Downloads</a></li>
					<li><a href="acknowledgments.html">Acknowledgments</a></li>
					<li><a href="source-code.html">Source Code</a></li>
					<li><a href="copyright.html">Copyright</a></li>
			</nav>
		</aside>
	</div>

	<!--<footer>
		<nav>
			<a href="copyright.html">Copyright</a>
			<a href="source-code.html">Source Code</a>
			<a href="acknowledgments.html">Acknowledgments</a>
			<a href="downloads.html">Downloads</a>
		</nav>
	</footer>-->

<script src="app.js"></script>
</body>
</html>